#  -----------------------------------------------------------------------------
#
#  This file is part of the PicoNut project.
#
#  Copyright (C)    2024 Lukas Bauer <lukas.bauer1@tha.de>
#      Technische Hochschule Augsburg, Technical University of Applied Sciences Augsburg
#
#  Description:
#    PicoNut software section Makefile.
#
#  --------------------- LICENSE -----------------------------------------------
#  Redistribution and use in source and binary forms, with or without modification,
#  are permitted provided that the following conditions are met:
#
#  1. Redistributions of source code must retain the above copyright notice, this
#     list of conditions and the following disclaimer.
#
#  2. Redistributions in binary form must reproduce the above copyright notice,
#     this list of conditions and the following disclaimer in the documentation and/or
#     other materials provided with the distribution.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
#  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
#  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
#  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
#  ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
#  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
#  ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
#  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
#  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#  -----------------------------------------------------------------------------

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v3.1.6 and v3.1.7

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "reset" SITE "R1";  # FIRE1
IOBUF  PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# UART over the FTDI/USB connector
LOCATE COMP "tx_o" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "rx_i" SITE "M1"; # FPGA receives from ftdi
IOBUF  PORT "tx_o" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "rx_i" PULLMODE=UP IO_TYPE=LVCMOS33;

# PMOD A top-left
# Not-Connected LOCATE COMP "gp0"  SITE "B11"; # GP0
# Not-Connected LOCATE COMP "gp1"  SITE "A10"; # GP1
LOCATE COMP "vga_vsync_o"  SITE "A9";  # GP2
IOBUF PORT  "vga_vsync_o"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_hsync_o"  SITE "B9";  # GP3
IOBUF PORT  "vga_hsync_o"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_green_o[3]"  SITE "C11"; # GN0
IOBUF PORT  "vga_green_o[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_green_o[2]"  SITE "A11"; # GN1
IOBUF PORT  "vga_green_o[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_green_o[1]"  SITE "B10"; # GN2
IOBUF PORT  "vga_green_o[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_green_o[0]"  SITE "C10"; # GN3
IOBUF PORT  "vga_green_o[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# PMOD B bottom-left
LOCATE COMP "vga_blue_o[3]"  SITE "A6"; # GP7
IOBUF PORT  "vga_blue_o[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_blue_o[2]"  SITE "A4"; # GP8
IOBUF PORT  "vga_blue_o[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_blue_o[1]"  SITE "A2"; # GP9
IOBUF PORT  "vga_blue_o[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_blue_o[0]" SITE "C4"; # GP10
IOBUF PORT  "vga_blue_o[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_red_o[3]"  SITE "B6"; # GN7
IOBUF PORT  "vga_red_o[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_red_o[2]"  SITE "A5"; # GN8
IOBUF PORT  "vga_red_o[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_red_o[1]"  SITE "B1"; # GN9
IOBUF PORT  "vga_red_o[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "vga_red_o[0]" SITE "B4"; # GN10
IOBUF PORT  "vga_red_o[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;