# build folder for docker-compose/devcontainer development
/build/
# install folder for docker-compose/devcontainer development
/install/

**/.vscode

# dumps and local settings
*.local
*.local.*
*.dump
*.dump.*
