#  -----------------------------------------------------------------------------
#
#  This file is part of the PicoNut project.
#
#  Copyright (C)    2024 Lukas Bauer <lukas.bauer1@tha.de>
#      Technische Hochschule Augsburg, Technical University of Applied Sciences Augsburg
#
#  Description:
#    PicoNut software section Makefile.
#
#  --------------------- LICENSE -----------------------------------------------
#  Redistribution and use in source and binary forms, with or without modification,
#  are permitted provided that the following conditions are met:
#
#  1. Redistributions of source code must retain the above copyright notice, this
#     list of conditions and the following disclaimer.
#
#  2. Redistributions in binary form must reproduce the above copyright notice,
#     this list of conditions and the following disclaimer in the documentation and/or
#     other materials provided with the distribution.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
#  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
#  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
#  DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
#  ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
#  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
#  ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
#  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
#  SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#  -----------------------------------------------------------------------------


LOCATE COMP "clk" SITE "A9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 48.0 MHz;



LOCATE COMP "count0[0]" SITE "K4";
IOBUF PORT "count0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "count0[1]" SITE "M3";
IOBUF PORT "count0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "count0[2]" SITE "J3";
IOBUF PORT "count0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "count0[3]" SITE "N17";
IOBUF PORT "count0[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "count0[3]" PULLMODE=DOWN;
LOCATE COMP "count1[0]" SITE "M18";
IOBUF PORT "count1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "count1[0]" PULLMODE=DOWN;
LOCATE COMP "count1[1]" SITE "B10";
IOBUF PORT "count1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "count1[1]" PULLMODE=DOWN;
LOCATE COMP "count1[2]" SITE "B9";
IOBUF PORT "count1[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "count1[2]" PULLMODE=DOWN;
LOCATE COMP "count1[3]" SITE "C8";
IOBUF PORT "count1[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "count1[3]" PULLMODE=DOWN;
LOCATE COMP "reset" SITE "B8";
IOBUF PORT "reset" IO_TYPE=LVCMOS33;
IOBUF PORT "reset" PULLMODE=DOWN;
LOCATE COMP "enable" SITE "J17";
IOBUF PORT "enable" IO_TYPE=SSTL135_I;
